/* ----------------------------------
	PrettyPhoto local CSS
	Language: es
	Date: April 7th 2010
	Author: Antoine Girard (antoine.girard [at] gmail.com)
----------------------------------- */

	body.es div.light_rounded .pp_next:hover { background: url(../images/prettyPhoto/locales/es/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	body.es div.light_rounded .pp_previous:hover { background: url(../images/prettyPhoto/locales/es/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	body.es div.light_rounded .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/locales/es/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */

	body.es div.dark_rounded .pp_next:hover { background: url(../images/prettyPhoto/locales/es/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	body.es div.dark_rounded .pp_previous:hover { background: url(../images/prettyPhoto/locales/es/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	body.es div.dark_rounded .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/locales/es/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */

	body.es div.dark_square .pp_next:hover { background: url(../images/prettyPhoto/locales/es/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	body.es div.dark_square .pp_previous:hover { background: url(../images/prettyPhoto/locales/es/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	body.es div.dark_square .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/locales/es/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */

	body.es div.light_square .pp_next:hover { background: url(../images/prettyPhoto/locales/es/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	body.es div.light_square .pp_previous:hover { background: url(../images/prettyPhoto/locales/es/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	body.es div.light_square .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/locales/es/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */